---
name: YAML Lint

on:
  push:
    paths:
      - '**.yml'

jobs:
  lint:
    name: Lint
    timeout-minutes: 1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ibiqlik/action-yamllint@v3
        with:
          config_file: .yamllint.yml
          strict: false
          file_or_dir: .yamllint.yml action.yml
